.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  #files{
    opacity: 1!important;
    width:100%!important; 
    height: 200px!important;
    position: absolute;
    top:0;
    left:0
}
.input-wrap{
    border: 2px solid rgb(0, 119, 255);
    border-radius: 20px;
    position: relative;
    height: 200px;
    display: flex;
    place-items: center;
    justify-content: center;
    flex-direction: column;
    transition-duration: 0.5s;
}
.input-wrap:hover{
    box-shadow: 12px 12px 12px rgb(0, 119, 255);
    transform: scale(0.9)!important;
}